<?xml version="1.0" encoding="UTF-8"?>
<!-- The plugin.dtd file is located in the OXYGEN_INSATALL_DIR/plugins directory -->
<!DOCTYPE plugin SYSTEM "../plugin.dtd">

<plugin
    class="com.oxygenxml.webapp.diff.DiffPlugin"

    id="web-author-diff-plugin"
    name="Web Author Diff Plugin"
    description="A plugin to show a diff view of two documents."
    version="${project.nosnapshot.version}"
    vendor="SyncroSoft SRL">

  <runtime>
    <librariesFolder name="lib" />
    <library name="target/classes" />
    <librariesFolder name="target/lib" />
  </runtime>

  <!-- Add extensions here-->
  <extension type="WebappStaticResourcesFolder" path="web/static/" href="web-author-diff-plugin"/>
  
  <extension type="WorkspaceAccess" class="com.oxygenxml.webapp.diff.DiffEditorLinker"/>
</plugin>
